/.idea/*
/.vscode/*
/.ipynb_checkpoints/*
/__pycache__/*
/reports/*.aux
/reports/*.bbl
/reports/*.blg
/reports/*.log
/reports/*.fls
/reports/*.pgf
/reports/*.toc
/reports/*.lot
/reports/*.lof
/reports/*.ist
/reports/*.idx
/reports/*.glg
/reports/*.gls
/reports/*.ilg
/reports/*.ind
/reports/*.glo
/reports/*.synctex.gz
/reports/*.pdf
/reports/*.fdb_latexmk
